.view_more
    color: #FFF
    font: 
        size: em(14)
        weight: 300
    text:
        transform: uppercase
    border: solid 1px #FFF
    padding: 5px 40px
    margin: 20px 0px 0px 0px
    display: inline-block
    strong 
        font-weight: 700