@import variables
@import functions
@import partials

body
    margin: 0px
    padding: 0px
    display: block
    width: 100%
    height: 100%
    background: #FFF
    font-size: $browser-context + px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: $regular
.clear 
    display: block
    width: 100%
    margin: 0px
    padding: 0px
    clear: both
.general-wrapper
    display: block
    width: 100%
    margin: 0px
    padding: 0px
    
    header
        display: block
        width: 100%
        padding: 0px
        margin: 0px

        .pre-header
            display: inline-block
            width: 100%
            background: rgba(255,255,255,0.8)
            position: relative
            z-index: 10
            form
                display: block
                margin: 3px 0px
                float: left
                .search-submit
                    background: $primary_color
                    color: #FFF
                    border: none
                    -webkit-appearance: none
                    padding: 0px 25px
                    height: 23px
                .search-imput
                    background: #FFF
                    border: solid 1px $primary_color
                    height: 23px
                    float: left
                    padding: 0px 10px
                    font:
                        size: em(12)
            ul
                display: inline-block
                list-style: none
                padding: 0px
                margin: 3px 0px 0px 3px
                li
                    display: inline-block
                    background: $primary_color
                    color: #FFF
                    width: 23px
                    height: 23px
                    text-align: center
                    line-height: 23px
                    a
                        display: block
                        color: inherit

        .navbar-wesleyana 
            display: block
            width: 100%
            border: 
                top: solid 1px $primary_color
                bottom: solid 1px $primary_color
            margin-top: 29px
            background: #FFF
            z-index: 12
            > .container
                position: relative
                .navbar-header
                    position: absolute
                    top: -32px
                    left: 0px
                    &:before
                        content: ""
                        position: absolute
                        z-index: -1
                        box-shadow: 0 0 6px rgba(0, 0, 0, 0.8)
                        top: -30px
                        bottom: 10px
                        left: 0
                        right: 0
                        width: 100%
                        display: block
                        height: 100%
                        border-radius: 100px / 10px
                    img
                        max-width: 200px
            ul.main-menu
                font: 
                    weight: 400
                    size: em(13)
                text-transform: uppercase
                li 
                    color: #393939
                    a 
                        color: inherit
                        &:hover
                            text-decoration: underline
                            background: transparent
                            color: $primary_color
    footer
        display: block
        width: 100%
        background: $primary_color
        color: #FFF
        .box-right 
            .social-net
                text-align: right
                ul
                    padding: 0px
                    display: inline-block
                    list-style: none
                    li
                        border: solid 1px #FFF
                        color: #FFF
                        display: inline-block
                        width: 25px
                        height: 25px
                        text-align: center
                        line-height: 25px
                        a 
                            color: inherit
    .wrapper-info
        display: block
        width: 100%
        .slider
            display: block
            width: 100%
            position: relative
            top: -35px
            margin-bottom: -35px
        .wrapper-content    
            display: block
            width: 100%
            padding: 0px
            margin: 0px
            background: url('../assets/img/bg-home.png') repeat-x center top
            .container
                background: #FFF
                padding: 
                    top: 20px
                    bottom: 20px
                .module-1
                    display: inline-block
                    background: #33a9e4
                    border: solid 1px #33a9e4
                    color: #FFF
                    margin: 0px 0px 20px 0px
                    .box-info
                        padding: 30px 0px 15px 15px
                        display: block
                        h2
                            margin: 0px 0px 15px 0px
                            font: 
                                weight: 300
                                size: 24px
                            text-transform: uppercase
                            strong 
                                display: block
                                font: 
                                    weight: 700
                                    size: 48px
                        p 
                            font: 
                                size: em(12)
                        a
                            @extend .view_more
                    .box-img
                        img
                            width: 100%
                            height: auto
                            display: block
                            margin: 0px auto
                .module-2
                    display: inline-block   
                    background:#53458c
                    border: solid 1px #53458c
                    color: #FFF
                    .box-info
                        padding: 30px 0px 15px 15px
                        display: block
                        h4
                            text-transform: uppercase
                            font:
                                size: em(15)
                                weight: 100
                            margin: 0px 0px 30px 0px
                        h3
                            text-transform: uppercase
                            font:
                                size: em(24)
                                weight: 700
                            margin: 0px 0px 15px 0px
                        p 
                            font: 
                                size: em(12)
                        a
                            @extend .view_more 
                    .box-img
                        img
                            width: 100%
                            height: auto
                            display: block
                            margin: 0px auto
                .horarios
                    display: inline-block
                    background: #00bbdd
                    border: solid 2px #FFF
                    box-shadow: #00bbdd 0px 0px 0px 1px
                    h4
                        color: #FFF
                        text:
                            transform: uppercase
                            align: center
                        font: 
                            size: em(24)
                            weight: 100
                        margin: 0px
                        padding: 12px 0px
                        strong
                            font-weight: 700
                    ul
                        list-style: none
                        padding: 0px
                        margin: 0px
                        background: #FFF
                        border: solid 2px #00bbdd
                        display: inline-block
                        width: 100%
                        float: left
                        li
                            color: #888888
                            font: 
                                size: em(12)
                            display: inline-block
                            width: 100%
                            border-bottom: solid 1px #0bd
                            padding: 0px 10px
                            margin: 10px 0px 0px 0px
                            strong
                                display: block
                                float: left 
                                width: 20%
                                text-transform: uppercase
                                color: #0093dd
                            p
                                color: #888888
                                text-align: left
                                display: block
                                float: left 
                                width: 60%
                            span 
                                color: #0093dd
                                text-align: center
                                display: block
                                float: left 
                                width: 20%
                            &:last-child
                                border-bottom: none
                .map
                    display: block
                    width: 100%
                    height: 278px
                    margin-top: 25px
                    .infoBox
                        background: rgba(51,169,228,0.8)
                        padding: 15px
                        color: #FFF
                        text-align: center
                        font:
                            size: em(18)
                            weight: 300
                        strong 
                            font-weight: 700
                            text-transform: uppercase
    #breadcrumbs
        color: #33a9e4
        a
            color: #cdcdcd
            font: 
                size: em(12)
        strong
            color: #33a9e4
    #paginador
        display: block
        text-align: center
        width: 100%
        ul
            display: inline-block
            text-align: center
            li
                display: inline-block
                width: 40px
                height: 40px
                background: #1ac2e0
                color: #FFF
                font:
                    size: 16px
                    weight: 600
                border-radius: 5px
                line-height: 40px
                &:hover
                    background: #1aa2bb
                .current 
                    background: #1aa2bb
                span
                    display: block
                    border-radius: 5px
                a
                    display: block
                    color: inherit
                    &:hover
                        text-decoration: none
    .wrapper-content-info
        display: block
        width: 100%
        padding: 0px
        margin: 0px
        background: url('../assets/img/bg-home.png') repeat-x center 45px
        .content-info    
            background: #FFF 
            padding: 
                top: 120px
                bottom: 50px 
        &.category
            h1
                background: #53458c
                color: #FFF
                font:
                    size: em(30)
                    weight: 900
                text:
                    transform: uppercase
                display: inline-block
                padding: 40px 60px
                position: relative
                &:after
                    content: ""
                    display: block
                    width: 100px
                    height: 100%
                    position: absolute
                    top: 0px
                    right: -100px
                    background: #63598b
            section
                display: inline-block
                width: 100%
                margin: 
                    top: 35px
                article
                    margin:
                        bottom: 25px
                    .item
                        display: block
                        padding:    
                            bottom: 50px
                        transition: all 0.4s ease-Out
                        .img-box
                            display: block
                            width: 100%
                            height: 100%
                            overflow: hidden
                            img
                                display: block
                                margin: 0px auto
                                width: 100%
                                height: auto
                                transition: all 1.5s ease
                                -moz-transition: all 1.5s ease /* Firefox */
                                -webkit-transition: all 1.5s ease /* Chrome - Safari */
                                -o-transition: all 1.5s ease /* Opera */
                        a
                            color: inherit
                            display: block
                            &:hover
                                text-decoration: none
                        h2
                            color: #424242
                            text-align: center
                            font:
                                size: em(21)
                                weight: 700
                            margin: 20px 0px 50px 
                            transition: all 0.3s ease-Out
                        p
                            color: #232323
                            font:
                                size: em(14)
                                weight: 100
                            margin-bottom: 45px 
                            transition: all 0.3s ease-Out
                            padding: 0px 25px
                        .btn-more
                            color: #424242
                            text-transform: uppercase
                            font:
                                size: em(12)
                                weight: 600
                            padding: 0px 15px
                            transition: all 0.3s ease-Out
                        &:hover
                            background: #868491
                            h2, p, .btn-more
                                color: #FFF
                            .img-box
                                img
                                    transform : scale(1.2)
                                    -moz-transform : scale(1.2) /* Firefox */
                                    -webkit-transform : scale(1.2) /* Chrome - Safari */
                                    -o-transform : scale(1.2) /* Opera */
                                    -ms-transform : scale(1.2) /* IE9 */
        &.single
            h2
                background: #53458c
                color: #FFF
                font:
                    size: em(30)
                    weight: 900
                text:
                    transform: uppercase
                display: inline-block
                padding: 40px 60px
                position: relative
                &:after
                    content: ""
                    display: block
                    width: 100px
                    height: 100%
                    position: absolute
                    top: 0px
                    right: -100px
                    background: #63598b
            section
                display: block
                width: 100%
                padding: 0px
                margin: 0px
                article
                    h1
                        font:
                            size: em(40)
                            weight: 600
                        color: #424242
                        margin: 35px 0px
                    time
                        color: #070707
                        font:
                            weight: 500
                            size: em(13)
                        display: inline
                    .resume
                        color: #757575
                        font: 
                            size: em(13)
                            weight: 300
                        display: inline
                        p
                            display: inline
                    > img
                        margin: 
                            top: 20px 
                            bottom: 20px
                        width: 100%
                    .text-box
                        color: #424242
                        font: 
                            size: em(16)
                            weight: 400
                        line-height: 2
            aside
                margin-top: 40px 
                h3
                    background: #00bbdd
                    color: #FFF
                    font:
                        size: em(20)
                        weight: 300
                    text:
                        transform: uppercase
                    padding: 10px
                    margin: 0px
                    span
                        float: right
                iframe
                    border-right: #a4b4cc solid 1px !important
                    border-bottom: #a4b4cc solid 1px !important
                    border-left: #a4b4cc solid 1px !important