.view_more, .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-info a, .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-info a {
  color: #FFF;
  font-size: 0.875em;
  font-weight: 300;
  text-transform: uppercase;
  border: solid 1px #FFF;
  padding: 5px 40px;
  margin: 20px 0px 0px 0px;
  display: inline-block; }
  .view_more strong, .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-info a strong, .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-info a strong {
    font-weight: 700; }

body {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: #FFF;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif; }

.clear {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  clear: both; }

.general-wrapper {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px; }
  .general-wrapper header {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px; }
    .general-wrapper header .pre-header {
      display: inline-block;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      position: relative;
      z-index: 10; }
      .general-wrapper header .pre-header form {
        display: block;
        margin: 3px 0px;
        float: left; }
        .general-wrapper header .pre-header form .search-submit {
          background: #33a9e4;
          color: #FFF;
          border: none;
          -webkit-appearance: none;
          padding: 0px 25px;
          height: 23px; }
        .general-wrapper header .pre-header form .search-imput {
          background: #FFF;
          border: solid 1px #33a9e4;
          height: 23px;
          float: left;
          padding: 0px 10px;
          font-size: 0.75em; }
      .general-wrapper header .pre-header ul {
        display: inline-block;
        list-style: none;
        padding: 0px;
        margin: 3px 0px 0px 3px; }
        .general-wrapper header .pre-header ul li {
          display: inline-block;
          background: #33a9e4;
          color: #FFF;
          width: 23px;
          height: 23px;
          text-align: center;
          line-height: 23px; }
          .general-wrapper header .pre-header ul li a {
            display: block;
            color: inherit; }
    .general-wrapper header .navbar-wesleyana {
      display: block;
      width: 100%;
      border-top: solid 1px #33a9e4;
      border-bottom: solid 1px #33a9e4;
      margin-top: 29px;
      background: #FFF;
      z-index: 12; }
      .general-wrapper header .navbar-wesleyana > .container {
        position: relative; }
        .general-wrapper header .navbar-wesleyana > .container .navbar-header {
          position: absolute;
          top: -32px;
          left: 0px; }
          .general-wrapper header .navbar-wesleyana > .container .navbar-header:before {
            content: "";
            position: absolute;
            z-index: -1;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
            top: -30px;
            bottom: 10px;
            left: 0;
            right: 0;
            width: 100%;
            display: block;
            height: 100%;
            border-radius: 100px / 10px; }
          .general-wrapper header .navbar-wesleyana > .container .navbar-header img {
            max-width: 200px; }
      .general-wrapper header .navbar-wesleyana ul.main-menu {
        font-weight: 400;
        font-size: 0.8125em;
        text-transform: uppercase; }
        .general-wrapper header .navbar-wesleyana ul.main-menu li {
          color: #393939; }
          .general-wrapper header .navbar-wesleyana ul.main-menu li a {
            color: inherit; }
            .general-wrapper header .navbar-wesleyana ul.main-menu li a:hover {
              text-decoration: underline;
              background: transparent;
              color: #33a9e4; }
  .general-wrapper footer {
    display: block;
    width: 100%;
    background: #33a9e4;
    color: #FFF; }
    .general-wrapper footer .box-right .social-net {
      text-align: right; }
      .general-wrapper footer .box-right .social-net ul {
        padding: 0px;
        display: inline-block;
        list-style: none; }
        .general-wrapper footer .box-right .social-net ul li {
          border: solid 1px #FFF;
          color: #FFF;
          display: inline-block;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px; }
          .general-wrapper footer .box-right .social-net ul li a {
            color: inherit; }
  .general-wrapper .wrapper-info {
    display: block;
    width: 100%; }
    .general-wrapper .wrapper-info .slider {
      display: block;
      width: 100%;
      position: relative;
      top: -35px;
      margin-bottom: -35px; }
    .general-wrapper .wrapper-info .wrapper-content {
      display: block;
      width: 100%;
      padding: 0px;
      margin: 0px;
      background: url("../assets/img/bg-home.png") repeat-x center top; }
      .general-wrapper .wrapper-info .wrapper-content .container {
        background: #FFF;
        padding-top: 20px;
        padding-bottom: 20px; }
        .general-wrapper .wrapper-info .wrapper-content .container .module-1 {
          display: inline-block;
          background: #33a9e4;
          border: solid 1px #33a9e4;
          color: #FFF;
          margin: 0px 0px 20px 0px; }
          .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-info {
            padding: 30px 0px 15px 15px;
            display: block; }
            .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-info h2 {
              margin: 0px 0px 15px 0px;
              font-weight: 300;
              font-size: 24px;
              text-transform: uppercase; }
              .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-info h2 strong {
                display: block;
                font-weight: 700;
                font-size: 48px; }
            .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-info p {
              font-size: 0.75em; }
          .general-wrapper .wrapper-info .wrapper-content .container .module-1 .box-img img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0px auto; }
        .general-wrapper .wrapper-info .wrapper-content .container .module-2 {
          display: inline-block;
          background: #53458c;
          border: solid 1px #53458c;
          color: #FFF; }
          .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-info {
            padding: 30px 0px 15px 15px;
            display: block; }
            .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-info h4 {
              text-transform: uppercase;
              font-size: 0.9375em;
              font-weight: 100;
              margin: 0px 0px 30px 0px; }
            .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-info h3 {
              text-transform: uppercase;
              font-size: 1.5em;
              font-weight: 700;
              margin: 0px 0px 15px 0px; }
            .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-info p {
              font-size: 0.75em; }
          .general-wrapper .wrapper-info .wrapper-content .container .module-2 .box-img img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0px auto; }
        .general-wrapper .wrapper-info .wrapper-content .container .horarios {
          display: inline-block;
          background: #00bbdd;
          border: solid 2px #FFF;
          box-shadow: #00bbdd 0px 0px 0px 1px; }
          .general-wrapper .wrapper-info .wrapper-content .container .horarios h4 {
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5em;
            font-weight: 100;
            margin: 0px;
            padding: 12px 0px; }
            .general-wrapper .wrapper-info .wrapper-content .container .horarios h4 strong {
              font-weight: 700; }
          .general-wrapper .wrapper-info .wrapper-content .container .horarios ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            background: #FFF;
            border: solid 2px #00bbdd;
            display: inline-block;
            width: 100%;
            float: left; }
            .general-wrapper .wrapper-info .wrapper-content .container .horarios ul li {
              color: #888888;
              font-size: 0.75em;
              display: inline-block;
              width: 100%;
              border-bottom: solid 1px #0bd;
              padding: 0px 10px;
              margin: 10px 0px 0px 0px; }
              .general-wrapper .wrapper-info .wrapper-content .container .horarios ul li strong {
                display: block;
                float: left;
                width: 20%;
                text-transform: uppercase;
                color: #0093dd; }
              .general-wrapper .wrapper-info .wrapper-content .container .horarios ul li p {
                color: #888888;
                text-align: left;
                display: block;
                float: left;
                width: 60%; }
              .general-wrapper .wrapper-info .wrapper-content .container .horarios ul li span {
                color: #0093dd;
                text-align: center;
                display: block;
                float: left;
                width: 20%; }
              .general-wrapper .wrapper-info .wrapper-content .container .horarios ul li:last-child {
                border-bottom: none; }
        .general-wrapper .wrapper-info .wrapper-content .container .map {
          display: block;
          width: 100%;
          height: 278px;
          margin-top: 25px; }
          .general-wrapper .wrapper-info .wrapper-content .container .map .infoBox {
            background: rgba(51, 169, 228, 0.8);
            padding: 15px;
            color: #FFF;
            text-align: center;
            font-size: 1.125em;
            font-weight: 300; }
            .general-wrapper .wrapper-info .wrapper-content .container .map .infoBox strong {
              font-weight: 700;
              text-transform: uppercase; }
  .general-wrapper #breadcrumbs {
    color: #33a9e4; }
    .general-wrapper #breadcrumbs a {
      color: #cdcdcd;
      font-size: 0.75em; }
    .general-wrapper #breadcrumbs strong {
      color: #33a9e4; }
  .general-wrapper #paginador {
    display: block;
    text-align: center;
    width: 100%; }
    .general-wrapper #paginador ul {
      display: inline-block;
      text-align: center; }
      .general-wrapper #paginador ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #1ac2e0;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        line-height: 40px; }
        .general-wrapper #paginador ul li:hover {
          background: #1aa2bb; }
        .general-wrapper #paginador ul li .current {
          background: #1aa2bb; }
        .general-wrapper #paginador ul li span {
          display: block;
          border-radius: 5px; }
        .general-wrapper #paginador ul li a {
          display: block;
          color: inherit; }
          .general-wrapper #paginador ul li a:hover {
            text-decoration: none; }
  .general-wrapper .wrapper-content-info {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: url("../assets/img/bg-home.png") repeat-x center 45px; }
    .general-wrapper .wrapper-content-info .content-info {
      background: #FFF;
      padding-top: 120px;
      padding-bottom: 50px; }
    .general-wrapper .wrapper-content-info.category h1 {
      background: #53458c;
      color: #FFF;
      font-size: 1.875em;
      font-weight: 900;
      text-transform: uppercase;
      display: inline-block;
      padding: 40px 60px;
      position: relative; }
      .general-wrapper .wrapper-content-info.category h1:after {
        content: "";
        display: block;
        width: 100px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: -100px;
        background: #63598b; }
    .general-wrapper .wrapper-content-info.category section {
      display: inline-block;
      width: 100%;
      margin-top: 35px; }
      .general-wrapper .wrapper-content-info.category section article {
        margin-bottom: 25px; }
        .general-wrapper .wrapper-content-info.category section article .item {
          display: block;
          padding-bottom: 50px;
          transition: all 0.4s ease-Out; }
          .general-wrapper .wrapper-content-info.category section article .item .img-box {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden; }
            .general-wrapper .wrapper-content-info.category section article .item .img-box img {
              display: block;
              margin: 0px auto;
              width: 100%;
              height: auto;
              transition: all 1.5s ease;
              -moz-transition: all 1.5s ease;
              -webkit-transition: all 1.5s ease;
              -o-transition: all 1.5s ease; }
          .general-wrapper .wrapper-content-info.category section article .item a {
            color: inherit;
            display: block; }
            .general-wrapper .wrapper-content-info.category section article .item a:hover {
              text-decoration: none; }
          .general-wrapper .wrapper-content-info.category section article .item h2 {
            color: #424242;
            text-align: center;
            font-size: 1.3125em;
            font-weight: 700;
            margin: 20px 0px 50px;
            transition: all 0.3s ease-Out; }
          .general-wrapper .wrapper-content-info.category section article .item p {
            color: #232323;
            font-size: 0.875em;
            font-weight: 100;
            margin-bottom: 45px;
            transition: all 0.3s ease-Out;
            padding: 0px 25px; }
          .general-wrapper .wrapper-content-info.category section article .item .btn-more {
            color: #424242;
            text-transform: uppercase;
            font-size: 0.75em;
            font-weight: 600;
            padding: 0px 15px;
            transition: all 0.3s ease-Out; }
          .general-wrapper .wrapper-content-info.category section article .item:hover {
            background: #868491; }
            .general-wrapper .wrapper-content-info.category section article .item:hover h2, .general-wrapper .wrapper-content-info.category section article .item:hover p, .general-wrapper .wrapper-content-info.category section article .item:hover .btn-more {
              color: #FFF; }
            .general-wrapper .wrapper-content-info.category section article .item:hover .img-box img {
              transform: scale(1.2);
              -moz-transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -o-transform: scale(1.2);
              -ms-transform: scale(1.2); }
    .general-wrapper .wrapper-content-info.single h2 {
      background: #53458c;
      color: #FFF;
      font-size: 1.875em;
      font-weight: 900;
      text-transform: uppercase;
      display: inline-block;
      padding: 40px 60px;
      position: relative; }
      .general-wrapper .wrapper-content-info.single h2:after {
        content: "";
        display: block;
        width: 100px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: -100px;
        background: #63598b; }
    .general-wrapper .wrapper-content-info.single section {
      display: block;
      width: 100%;
      padding: 0px;
      margin: 0px; }
      .general-wrapper .wrapper-content-info.single section article h1 {
        font-size: 2.5em;
        font-weight: 600;
        color: #424242;
        margin: 35px 0px; }
      .general-wrapper .wrapper-content-info.single section article time {
        color: #070707;
        font-weight: 500;
        font-size: 0.8125em;
        display: inline; }
      .general-wrapper .wrapper-content-info.single section article .resume {
        color: #757575;
        font-size: 0.8125em;
        font-weight: 300;
        display: inline; }
        .general-wrapper .wrapper-content-info.single section article .resume p {
          display: inline; }
      .general-wrapper .wrapper-content-info.single section article > img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%; }
      .general-wrapper .wrapper-content-info.single section article .text-box {
        color: #424242;
        font-size: 1em;
        font-weight: 400;
        line-height: 2; }
    .general-wrapper .wrapper-content-info.single aside {
      margin-top: 40px; }
      .general-wrapper .wrapper-content-info.single aside h3 {
        background: #00bbdd;
        color: #FFF;
        font-size: 1.25em;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        margin: 0px; }
        .general-wrapper .wrapper-content-info.single aside h3 span {
          float: right; }
      .general-wrapper .wrapper-content-info.single aside iframe {
        border-right: #a4b4cc solid 1px !important;
        border-bottom: #a4b4cc solid 1px !important;
        border-left: #a4b4cc solid 1px !important; }
